
<!DOCTYPE html>
<html>

<head>
  <title>Myntra Try On</title>
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
  <!-- js -->
  <script src="static/js/jquery.min.js"></script>
  <!-- //js -->
  <!-- countdown -->
  <link rel="stylesheet" href="static/css/jquery.countdown.css" />
  <!-- //countdown -->
  <!-- cart -->
  <script src="static/js/simpleCart.min.js"></script>
  <!-- cart -->
  <!-- for bootstrap working -->
  <script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
  <!-- //for bootstrap working -->


  <style>
    .button {
      background-color: #ff9b05;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <!-- header -->
  <script>
    $('#myModal88').modal('show');
  </script>
  <div class="header">
    <div class="container">
      <div class="w3l_login">
        <a href="#" data-toggle="modal"
          data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
      </div>
      <div class="w3l_logo">
        <h1><a href="/">Myntra Virtual Try</a></h1>
      </div>
      <div class="search">
        <input class="search_box" type="checkbox" id="search_box">
        <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
        <div class="search_form">
          <form action="#" method="post">
            <input type="text" name="Search" placeholder="Search...">
            <input type="submit" value="Send">
          </form>
        </div>
      </div>
      <div class="cart box_1">
        <a href="/checkOut">
          <div class="total">
            <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span>
            items)
          </div>
          <img src="images/bag.png" alt="" />
        </a>
        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>

  <!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <div class="col-md-3 wthree_banner_bottom_left">
        <div class="video-img"></div>
      </div>
      <div class="col-md-9 wthree_banner_bottom_right">
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab"
                aria-controls="home">Necklaces</a></li>
            <li role="presentation"><a href="#skirts" role="tab" id="skirts-tab" data-toggle="tab"
                aria-controls="skirts">Earrings</a></li>
            <li role="presentation"><a href="#watches" role="tab" id="watches-tab" data-toggle="tab"
                aria-controls="watches">Tiaras</a></li>
            <li role="presentation"><a href="#jewellery" role="tab" id="jewellery-tab" data-toggle="tab"
                aria-controls="jewellery">Goggles</a></li>
          </ul>

          <!--Necklaces -->
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
              <div class="agile_ecommerce_tabs">
                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Necklace1/1.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Pendant</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.200</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Necklace1/1.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add"
                        href="{{ url_for('tryon',method='POST', file_path='static,images,Necklace1,1.png') }}">Try it
                        Now!</a></p>

                  </div>
                </div>

                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Necklace1/2.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Silver Necklace</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Necklace1/2.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,2.png') }}">Try it Now!</a></p>
                  </div>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>

            <!-- Earrings -->
            <div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
              <div class="agile_ecommerce_tabs">
                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Earrings2/1.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Studs</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.100</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Earrings2/1.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,1.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Earrings2/2.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Goldwork earrings</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Earrings2/2.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,2.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Earrings2/3.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Hangings</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Earrings2/6.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,6.png') }}">Try it Now!</a></p>
                  </div>
                </div>
                <div class="clearfix"> </div>
              </div>
            </div>

            <!--Head gears-->
            <div role="tabpanel" class="tab-pane fade" id="watches" aria-labelledby="watches-tab">
              <div class="agile_ecommerce_tabs">
                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Tiaras3/2.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Single Maang Tika</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Tiaras3/2.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,2.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Tiaras3/3.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Tiara</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Tiaras3/3.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,3.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="clearfix"> </div>
              </div>
            </div>

            <!--Goggles-->
            <div role="tabpanel" class="tab-pane fade" id="jewellery" aria-labelledby="jewellery-tab">
              <div class="agile_ecommerce_tabs">
                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Sunglasses6/1.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Goggles</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Sunglasses6/1.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,1.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="col-md-4 agile_ecommerce_tab_left">
                  <div class="hs-wrapper">
                    <img src="static/images/Sunglasses6/2.png" alt=" " class="img-responsive" />
                    <div class="w3_hs_bottom">
                      <ul>
                        <li>
                          <a href="#" data-toggle="modal"
                            data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <h5>Sun glasses</h5>
                  <div class="simpleCart_shelfItem">
                    <p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
                    <form>
                      <p><input type=button onclick="addToCart('static/images/Sunglasses6/2.png')" value="Add to cart" />
                      </p>
                    </form>
                    <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,2.png') }}">Try it Now!</a></p>
                  </div>
                </div>

                <div class="clearfix"> </div>
              </div>
            </div>
          </div>
        </div>
        <!--modal-video-->

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //banner-bottom -->

  <center>
    <button id= "check_out" align="center" class="button">Try & Checkout</button>
  </center>
  <script type="text/javascript">
    var CART = []
	
	function addToCart(product) {
		if(CART.indexOf(product) == -1){
			CART.push(product)
		}
		   alert("Added Product To Cart")
	}
	
	function checkOut(){
		alert("IN CheckOUT")
		return CART.join(' ')
	}
	
	function runPyScript(input){
		alert("IIIIN CheckOUT")
		var jqXHR = $.ajax({
			type: "POST",
			url: "/tryall",
			async: false,
			data: { mydata: input }
		});
	
		return jqXHR.responseText;
	}
	
	$('#check_out').click(function(){
		alert("IN CheckOUT")
		datatosend = CART.join(' ');
		result = runPyScript(datatosend);
	});
  </script>

</body>

</html>